<head>
    <link rel="stylesheet" href="footer.css">
</head>

<footer>
        <ul class="footer-links">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p id="last_message">&copy; 2025 Blogger. All rights reserved.</p>
    </footer>
</body>
</html>