<%- include("layout.ejs") %>

<h1>All Blog Posts</h1>

<% if (posts.length === 0) { %>
    <p>No posts yet. <a href="/new">Create one</a>!</p>
<% } else { %>
    <% for (let i = 0; i < posts.length; i++) { %>
        <p><%= posts[i].title %> - <%= posts[i].content %></p>
    <% } %>
<% } %>

<a href="/new">Create New Post</a>
