footer {
    background-color: #1b1e3f;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 10px;
}

.footer-links li {
    margin: 0 15px;
}

.footer-links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
